html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    min-height:100%;
}
body {
	line-height: 1;
	font-family: helvetica;
    height: 100vh;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ДОБАВЛЕНИЕ*/

.add-link {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    right: 10px;
    top: 10px;
    opacity:0.5;
    background: mediumseagreen;
    transition: opacity 0.2s;
    z-index: 1;

}
.add-link:before, .add-link:after {
    content:'';
    position: absolute;
    background-color: darkgreen;
    left: 50%;
    top: 50%;
    transition: transform 0.4s;
}

.add-link:before {
    width: 4px;
    height: 20px;
    margin-left: -2px;
    margin-top: -10px;
}

.add-link:after {
    width: 20px;
    height: 4px;
    margin-left: -10px;
    margin-top: -2px;
}

.add-link:hover {
    opacity: 1;
}

.add-link:hover:before {
    transform: rotate(360deg);
}
.add-link:hover:after {
    transform: rotate(360deg);
}

/*КОНТЕНТ*/

.content/*ОСНОВНОЙ БЛОК, КОТОРЫЙ ЗАПОЛНЯЕТ ИЗОБРАЖЕНИЕ, В КОТОРОМ НАХОДИТСЯ ТЕКСТОВОЕ ОПИСАНИЕ*/
{
	margin-left: 60px;
	margin-right: 60px;
	/*margin-bottom: 120px;*/
	box-sizing: border-box;
    position: relative;
    height: calc(100% - 220px);
    margin-bottom: 200px;
    margin-top: 20px;
    overflow-y: auto;
}

.contenttext/*ТЕКСТОВОЕ ОПИСАНИЕ*/
{
	width:100%;
	max-height: 300px;
	overflow: auto;
	background-color: white;
	opacity: 0.85;
	text-align: left;
	font-family: Helvetica;
	font-size: 14pt;
	line-height: 1.3;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
}

.contenttext h1/*ЗАГОЛОВОК*/
{
	text-align: center;
	font-size: 18pt;
	line-height: 1.5;
}

.contenttexthead/*ТЕКСТОВОЕ ОПИСАНИЕ*/
{
	width:35%;
	max-height: 400px;
	overflow: auto;
	background-color: white;
	opacity: 0.85;
	text-align: left;
	font-family: Helvetica;
	font-size: 14pt;
	line-height: 1.3;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	margin-top: 5%;
	margin-left: 60%;
}

.contenttexthead h1/*ЗАГОЛОВОК*/
{
	text-align: center;
	font-size: 18pt;
	line-height: 1.5;
}

.none
{
	height: 185px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;	
}
.contents
{
	width: 50%;
	height: 300px;
	border: solid black 1px;
	box-sizing: border-box;
	float: left;
    overflow: hidden;

}
.contents:hover .contenttx
{
	visibility: visible;
	opacity: 0.8;
    transform: translateY(0) scale(1);
}
.contenttx
{
    display: block;
    width: 100%;
	height: 300px;
	background-color: white;
	visibility: hidden;
	opacity: 0;
    transform: translateY(50px) scale(0.8);
	transition: transform 0.3s, opacity 0.3s, visibility 0.3s;

}

.contenttx {
    color: #0a0a0a;
    text-decoration: none;
}
.contenttx:active
{
	background-color: lightgray;
}
/*НАВИГАЦИЯ*/

.down/*ВСЯ НИЖНЯЯ ЧАСТЬ*/
{
	height: 185px;
	background-color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#crumbs {
    padding-bottom: 10px;
    background: #fff;
    padding-top: 10px;


}

#crumbs ul li a/*Хлебные крошки - начало*/
{
    display: block;
    height: 20px;
    background: lightgray;
    text-align: center;
    padding: 10px 20px 0 20px;
    position: relative;
    margin: 0 8px 0 0;     
    font-size: 13px;
    text-decoration: none;
    color: black;
}

#crumbs ul li
{
    display: inline-block;
    vertical-align: middle;
        list-style:none;
}

#crumbs ul li:first-child a 
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#crumbs ul li:first-child a:before 
{
    display: none; 
} 

#crumbs ul li:last-child a 
{
    padding-right: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#crumbs ul li:last-child a:after 
{
    display: none; 
}

#crumbs ul li a:hover 
{
    background: gray;
}

#crumbs ul li a:hover:after 
{
    border-left-color: gray;
}							/*Хлебные крошки конец*/


/*ТАЙМЛАЙН*/
.timeline/*БЛОК ТАЙМЛАЙНА*/
{
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	bottom: 0px;
}

.timelinetable/*ТАБЛИЦА ТАЙМЛАЙНА*/
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;	
}

.timelinetable td 
{
		width: 50%;
		border: 1px solid #333;
}


.timelineblock/*БЛОК ТАЙМЛАЙНА (КАРТИНКА+НАДПИСЬ)х10/х5*/
{
	height: 64px;
	transition: 0.15s linear;
	background-color: black;
	color: white;
	text-align: center;
    font-size: 0;
}

.timelineblock:before
{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;	
}

.timelineblock:hover
{
	transform: scale(1.15);
    cursor: pointer;
}

.timelineblock.nolink:hover {
    transform: none;
    cursor: default;
}

.text/*ТЕКСТ НА КАРТИНКЕ*/
{
	display: inline-block;
	vertical-align: middle;
	font-family: Helvetica;
    line-height: normal;
}

.text a {
    color:white;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}
